# Django-related files
*.log
*.pot
*.pyc
__pycache__/
*/__pycache__/
__pycache__/
*.pyc
*.pyo
*.py[cod]
*.sqlite3

# Environments
.env
venv/
virtualenv/
env/

# Django Migrations
*/migrations/*
!*/migrations/__init__.py

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
*.swp
*.swo